<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="settings" class="settings">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Edit the conig.json below</p>
        <div id="jsoneditor" style="width:100%;height:80%;"></div>
      </div>
    </div>
    <div id="main" class="main">
      <div id="line1">
        <h2 id="greeter1">Hello</h2>
        <p id="greeterClockSep1">|</p>
        <h2 id="clock1">Preparing Clock...</h2>
        <p id="clockWeatherSep1">|</p>
        <p id="greeterWeatherSep1">|</p>
        <h2 id="weather1">Fetching Weather...</h2>
      </div>
      <div id="line2">
        <h3 id="greeter2">Hello</h3>
        <p id="greeterClockSep2">|</p>
        <h3 id="clock2">Preparing Clock...</h3>
        <p id="clockWeatherSep2">|</p>
        <p id="greeterWeatherSep2">|</p>
        <h3 id="weather2">Fetching Weather...</h3>
      </div>
      <div id="line3">
        <h4 id="greeter3">Hello</h4>
        <p id="greeterClockSep3">|</p>
        <h4 id="clock3">Preparing Clock...</h4>
        <p id="clockWeatherSep3">|</p>
        <p id="greeterWeatherSep3">|</p>
        <h4 id="weather3">Fetching Weather...</h4>
      </div>
      <!-- <div id="info"> -->
      <!--   <h2 id="clock"></h2> -->
      <!--   <h2 id="weather">Fetching Weather...</h2> -->
      <!-- </div> -->
      <!-- <div id="search"> -->
      <!--   <input id="search-input"></input> -->
      <!--   <div class="autocomplete-items-container"></div> -->
      <!-- </div> -->
      <!-- <div id="boxes"> -->
      <!-- </div> -->
    </div>
  </body>
</html>
